###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################

# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=../code

# Point to where the `APP_CODE_PATH_HOST` should be in the container
APP_CODE_PATH_CONTAINER=/var/www

# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:cached

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=~/.godock/data

### Drivers #################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### Environment #################################################

# If you need to change the sources (i.e. to China), set CHANGE_SOURCE to true
CHANGE_SOURCE=false

TZ=Asia/Shanghai

### Docker compose files ####################################

# Select which docker-compose files to include. If using docker-sync append `:docker-compose.sync.yml` at the end
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names. This is useful if you have multiple projects that use godock to have separate containers per project.
COMPOSE_PROJECT_NAME=godock

### Go Version ###############################################

# Select a Go version of the Workspace containers
# Accepted values: 21 - 17 - 16 - 15 - 14 - 13
GO_VERSION=21

### Docker Host IP ###########################################

# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=10.0.75.1

### MYSQL ###########################################
MYSQL_PORT=3306
MYSQL_USERNAME=admin
MYSQL_PASSWORD=123456
MYSQL_ROOT_PASSWORD=123456

### REDIS ###########################################
REDIS_PORT=6379

### ETCD ###########################################
ETCD_PORT=2379

### PROMETHEUS ###########################################
PROMETHEUS_PORT=3000

# GRAFANA ########################################
GRAFANA_PORT=4000

# JAEGER #########################################
JAEGER_PORT=5000


# DTM #########################################
DTM_HTTP_PORT=36789
DTM_GRPC_PORT=36790